In [51]:
from constants import FileDirectory, Spend
from utility.file_manager import FileManager
from utility.log_manager import setup_logging

logger = setup_logging()

file_manager = FileManager()

In [52]:
spend_data = file_manager.load_file(
    FileDirectory.SOURCE_DATA_PATH, Spend.RAW_DATA, sheet_name=Spend.RAW_SHEET_NAME
)

[2024-07-03 14:24:22] [INFO]  Successfully loaded file from /Users/hadid/Library/Mobile Documents/com~apple~CloudDocs/Shared/ETL/Budget.xlsm

In [54]:
spend_data.info()
spend_data.head(1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3372 entries, 0 to 3371
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Transaction ID  3372 non-null   int64
 1   Category A      3365 non-null   object
 2   Category B      3365 non-null   object
 3   Outlet          3365 non-null   object
 4   Description     1675 non-null   object
 5   Amount          3365 non-null   float64
 6   Date            3365 non-null   datetime64[ns]
 7   Period          2024 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 210.9+ KB

,Transaction ID,Category A,Category B,Outlet,Description,Amount,Date,Period
0,3372,Finance,Round-Up,Chase,NaN,-5.57,2024-06-02,2024-06

In [55]:
# Assuming your DataFrame is called 'df'
spend_data["Date"] = spend_data["Date"].dt.date

In [56]:
spend_data.info()
spend_data.head(1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3372 entries, 0 to 3371
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Transaction ID  3372 non-null   int64
 1   Category A      3365 non-null   object
 2   Category B      3365 non-null   object
 3   Outlet          3365 non-null   object
 4   Description     1675 non-null   object
 5   Amount          3365 non-null   float64
 6   Date            3365 non-null   object
 7   Period          2024 non-null   object
dtypes: float64(1), int64(1), object(6)
memory usage: 210.9+ KB

,Transaction ID,Category A,Category B,Outlet,Description,Amount,Date,Period
0,3372,Finance,Round-Up,Chase,NaN,-5.57,2024-06-02,2024-06

In [57]:
file_manager.save_file(FileDirectory.RAW_DATA_PATH, spend_data, Spend.CLEAN_DATA)

[2024-07-03 14:24:39] [INFO]  Successfully saved file to /Users/hadid/GitHub/ETL/data/raw_data/spend_transactions.xlsx

In [2]:
import pandas as pd

from constants import Daylio, FileDirectory
from utility import redis_manager, s3_manager
from utility.clean_data import CleanData
from utility.file_manager import FileManager
from utility.log_manager import setup_logging

logger = setup_logging()

cached_data = redis_manager.get_cached_data(Daylio.DATA_KEY)
cached_df = pd.DataFrame(cached_data)

[2024-07-20 17:27:53 +0100] [INFO] [redis_manager.py] Fetching 'daylio_journal' cache from Redis...
[2024-07-20 17:27:53 +0100] [INFO] [redis_manager.py] Cache found, timestamp within 48 hours